.OneCol
{
    float:left;
    width:10%;
    
}

.woCol
{
      float:left;
      width:10%;
  
    
}

.ThreeCol
{
      float:left;
      width:10%;
    
}

.MenuIcon
{
	width:110px;
	height:90px;
	background-image:url('../../Resources/submenu.png');
	background-size:110px 90px;
	background-repeat:no-repeat;
	 
	padding-top: 3px;
	text-align:center;
}
.MenuIcon:hover
{
    background-image:url('../../Resources/submenuh.png');
	background-repeat:no-repeat;
	padding-left: 5px;
	color: Gray;
}